<div class="list-group">
 {% for entity in pagination %}
<a class="list-group-item" >
    <h4 class="list-group-item-heading">{{ entity.getTipoVinculo().nombre}}</small></h4>
    <p class="list-group-item-text">
		<div class="row" style="font-size:12px;">
                            
				<div class="col-lg-3">
				<label>Razon Social:</label><br/>
					{{entity.razonsocial|default('-')}} <br/>
                                </div>

                                <div class="col-lg-2">
				<label>RUC:</label><br/>
					{{entity.ruc|default('-')}}
                                </div>
                               <div class="col-lg-2">
				<label>Fecha Inicio:</label><br/>
					{{entity.fecini|date("d/m/Y")}}
                                </div>

                                <div class="col-lg-2">
				<label>Fecha Fin:</label><br/>
					{{entity.fecfin|date("d/m/Y")}}
                                </div> 
                                <div class="col-lg-3">
				<label>Detalle:</label><br/>
					{{entity.detalle|default('-')}} <br/>
                                </div>
                           </div>
                                             
          				
    </p>
    <button type="button" class="btn btn-info btn-xs" onclick="new OptionButton.Conflictos().Edit('{{entity.id}}')"> 
    	<span class="glyphicon glyphicon-edit"></span> Editar
    </button>
     <button type="button" class="btn btn-danger btn-xs" onclick="new OptionButton.Conflictos().Delete('{{entity.id}}')"> 
     	<span class="glyphicon glyphicon-remove"></span> Eliminar
     </button>
  </a>
   {% endfor %}
  </div>
 <div>
        {{ knp_pagination_render(pagination,'AppWebBundle:ConflictoInteresEvaluador:pagination.html.twig') }}
    </div>