
    <form id="myform" method="post" {{ form_enctype(form) }}>
       {{form_widget(form._token)}}
        <div class="row">
            <div class="col-md-12">
                <label class="control-label">Tipo Conflicto:</label><br/>
                {{form_widget(form.tipoVinculo)}}
            </div>
           
        </div>
        <div class="row">
            <div class="col-md-12">
                <label class="control-label">Razon Social:</label><br/>
                {{form_widget(form.razonsocial)}}
            </div>
           
        </div>
        <div class="row">
            
            <div class="col-md-12">
                <label class="control-label">RUC:</label><br/>
                {{form_widget(form.ruc)}}
            </div>    
        </div>
        <br/>
        <div class="row">
           <div class="col-md-4">
                <label class="control-label">Fecha Inicio:</label><br/>
                {{form_widget(form.fecini)}}
            </div>
            <div class="col-md-4">
                <label class="control-label">Fecha Fin:</label>
                {{form_widget(form.fecfin)}}
            </div>  
            <div class="col-md-4">
                <label class="control-label">Hasta la Fecha:</label>
                <div class="checkbox text-center">
                    
                    <label>
                      {{form_widget(form.hastalafecha)}}
                    </label>
                </div>
            </div>  
        </div>
        
        <br/>
        <div class="row">
            <div class="col-md-12">
                <label class="control-label">Detalle:</label>
                {{form_widget(form.detalle)}}
            </div>
        </div>
        
    </form>

    <script type="text/javascript">
        $("input:checkbox").change(function(){
            var checked=$(this).is(":checked");
            var fechaFin=$("#app_webbundle_conflictointeresevaluadortype_fecfin")
            if(checked)
                fechaFin.val("");
            fechaFin.attr("disabled",checked)


        })
    </script>