{% extends '::base.html.twig' %}

{% block body -%}
    <h1>ConflictoInteresEvaluador</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Razonsocial</th>
                <td>{{ entity.razonsocial }}</td>
            </tr>
            <tr>
                <th>Ruc</th>
                <td>{{ entity.ruc }}</td>
            </tr>
            <tr>
                <th>Fecini</th>
                <td>{{ entity.fecini|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Fecfin</th>
                <td>{{ entity.fecfin|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Detalle</th>
                <td>{{ entity.detalle }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('conflictointeresevaluador') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('conflictointeresevaluador_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('conflictointeresevaluador_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
