{% block ScriptFooter %}
 <script src="{{ asset('js/pages/Security/indexPostulante.js') }}"></script> 
{% endblock %}
<input type="hidden" id="user_id" value="{{user.id}}"/>
<input type="hidden" id="postulante_id" value="{{postulante.id}}"/>
{% if postulante.IsValid()==0 %}
<div class="row" >
  <div class="col-md-12" >
      <div class="alert alert-info">
        
         <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
         <strong>Advertencia!</strong> Es necesario que complete su perfil para poder participar en algun concurso.<a href="#/menu/_admin_postulante_perfil/{{postulante.id}}"><b> Actualiza tu perfil aqui</b></a>
      </div>
          
  </div>
</div>
{% endif %}
<div class="row" >
    <div class="col-md-3">
     
      <div class="well" style="margin:0px;">
        
         
          

                <div id="uploadFoto">
                <a id="lnkFotoPerfil" href="javascript:return false;" class="thumbnail">
                  <img id="imgPerfil" data-src="holder.js/100%x180" alt="100%x180" src="{{ asset('images/usuarios/')}}{{user.imagen}}" data-path="{{ asset('images/usuarios/')}}"/>
                </a>
                  <input id="filePerfil" type="file" name="filePerfil" style="display:none;" multiple />
                </div>
         
          <h4> <small>{{ user.nombres}} {{user.apellidos}}</small><br/><strong>{{postulante.razonsocial}}</strong></h4>
          
         
          <form id="formUploadPerfil" method="post"   enctype="multipart/form-data">
          <div class="list-group">
            <a href="#/menu/_admin_postulante_perfil/{{postulante.id}}" class="list-group-item">
              <span class="glyphicon glyphicon-pencil"></span> Perfil Postulante
            </a>
            <a  id="btnFotoPerfil" href="#menu/_admin_inicio_postulante/{{postulante.id}}" class="list-group-item">
                  <span class="glyphicon glyphicon-user"></span>
                  Cambiar Foto
            </a>
          </div>
          </form>
         
          
      </div>
  </div>
  <div class="col-md-9"   id="container-concursos">
   
       
  </div>
</div

