{% block ScriptFooter %}
  <script src="{{ asset('js/pages/Security/models.js') }}"></script> 
  <script src="{{ asset('js/pages/Security/collections.js') }}"></script>  
  <script src="{{ asset('js/chat.js') }}"></script> 

  <script src="{{ asset('js/pages/Security/index.js') }}"></script> 
 <script src="{{ asset('js/pages/Security/viewNotas.js') }}"></script>
{% endblock %}
<div class="row">
    <div class="col-lg-8" style="padding: 5px 5px 0px 35px;margin: 0px 0px;">
      <div class="panel  panel-gray">
          <div class="panel-heading"> 
              <span class="glyphicon glyphicon-th-large"> </span>Hangout
          <button id="btnNew" class="btn btn-success btn-mini pull-right" > 
                <i class="glyphicon glyphicon-plus"></i> Nueva Conversación
          </button>
          </div>
          <div id="content-mensajeria" >
              <div class="row">
                  <div id="container-conversaciones" class="col-lg-4">
                      <!--contenedor de conversaciones-->                     
                  </div>
                  <div class="col-lg-8" >
                        <div  id="container-mensajes">
                          <div class="panel" style="height:300px">
                          <p class="text-muted">
                            <small>Seleccione una conversacion para visualizars sus mensajes</small>
                          </p>
                          </div>
                            <!--contenedor de mensajes-->  
                      </div>
                      
                     <div id="container-mensaje-new">
                     
                      </div>
                         
                  </div>
              </div>
          </div>
        </div>
  </div>
  <div class="col-lg-4"  style="padding: 5px 35px;margin: 0px 0px;">
    <div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle panel-gray-header" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        <span class="glyphicon glyphicon-list"></span> Mis Notas
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse in">
      <div class="accordion-inner">
          <div id="container-notas" style="height:300px;">
            <!--contenedor de notas--> 
          </div>
          <div id="container-nota-new">
          
          </div>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle panel-gray-header" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
        Calendario de Concursos
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
       
            
                
            

              
        
      </div>
    </div>
  </div>
  
</div>
        
       
  </div>
</div


<!--plantilla conversaciones-->
<textarea id="app-template" style="display:none">
<div  id="list-conversaciones" class="list-group">renderizando contenedor</div>
</textarea>

<!--plantilla conversacion-->
<textarea id="template-conversacion" style="display:none">

    <p class="list-group-item-text" data-id=<%= conversacion.id %>>
        <b><%= conversacion.nombre %></b> - 
        <small><%= conversacion.descripcion %></small>

    </p>
   
</textarea>                        
            
<!--plantilla conversacion-->
<textarea id="app-mensaje-template" style="display:none">
    <p>
        <b>juan: </b><small><%= mensaje.mensaje %></small>

    </p>
   
</textarea>    
<!--plantilla mensajes-->
<textarea id="app-mensajes-template" style="display:none">
<div  id="list-mensajes" class="panel" style="height: 300px;overflow-y:scroll;">

</div>
<div class="input-group">
  <input id="txtmensaje" name="txtmensaje" type="text" class="form-control">
  <span class="input-group-btn">
  <button class="btn btn-default" type="button">Enviar</button>
  </span>
</div>
</textarea>                    



<!--plantilla notas-->
<textarea id="template-notas" style="display:none">
  <ul id="list-notas" class="list-group"></ul>
</textarea>                        
            
<!--plantilla nota-->
<textarea id="template-notas-item" style="display:none">
    <a href="#">
    <input type="checkbox" name="" value=""/> <%= entity.descripcion %>
   </a>
</textarea> 

<textarea id="template-notas-item-new" style="display:none">
<div class="input-group">
            <input id="txtNota" name="txtNota" type="text" class="form-control">
            <span class="input-group-btn">
            <button class="btn btn-default" type="button">Agregar</button>
            </span>
          </div>
</textarea>