{% block ScriptFooter %}
  <script src="{{ asset('js/pages/Security/models.js') }}"></script> 
  <script src="{{ asset('js/pages/Security/collections.js') }}"></script>  
  <script src="{{ asset('js/chat.js') }}"></script> 

  <script src="{{ asset('js/pages/Security/index.js') }}"></script> 
 <script src="{{ asset('js/pages/Security/viewNotas.js') }}"></script>
{% endblock %}
<div class="row">
  <div class="col-lg-12" style="padding: 5px 5px 0px 35px;margin: 0px 0px;">
      <div class="alert alert-warning">
        
         <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Advertencia!</strong> Es necesario que complete todos sus datos apra poder participar en algun concurso.
      </div>
          
  </div>
</div>
<div class="row">
    <div class="col-lg-4" style="padding: 5px 5px 0px 35px;margin: 0px 0px;">
      <div class="well">
          <h3>Bienvenido</h3>
          <h5>Juan Perez Perez</h5>
          <p>Bienvenido a la seccion de inscripcion de concursos, desde aqui podras inscribirte en nuestros concursos</p>
      </div>
  </div>
  <div class="col-lg-8"  style="padding: 5px 35px;margin: 0px 0px;">
    <div class="list-group">
  <a href="#" class="list-group-item ">
    <h4 class="list-group-item-heading">List group item heading</h4>
    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    <button type="button" class="btn btn-success">Conoce mas</button>
  </a>
  <a href="#" class="list-group-item ">
    <h4 class="list-group-item-heading">List group item heading</h4>
    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    <button type="button" class="btn btn-success btn-sm">Conoce mas</button>
  </a>
</div>
       
  </div>
</div

