<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
{% block headTitle %}
    <title>{{ title }}</title>
{% endblock %}
 
{% block css %}
    
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('css/bootstrap-custom.css') }}" rel="stylesheet">
    <link href="{{ asset('css/bootstrap-glyphicons.css') }}" rel="stylesheet">
    <link href="{{ asset('css/home.css') }}" rel="stylesheet">
    <link href="{{ asset('css/icon.css') }}" rel="stylesheet">
    <link href="{{ asset('css/bootstrap/easyui.css') }}" rel="stylesheet">
    <link href="{{ asset('css/bootstrap-wysihtml5-0.0.2.css') }}" rel="stylesheet">
    <link href="{{ asset('css/upload.css') }}" rel="stylesheet">
    <link href="{{ asset('css/jquery.treegrid.css') }}" rel="stylesheet">
    <link href="{{ asset('css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet">
{% endblock %}
 
{% block ScriptHeadLayout %}  
    
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    <script src="{{ asset('js/libs/jquery-1.9.1.js') }}"></script> 
    <script src="{{ asset('js/libs/jquery.ajax.js') }}"></script> 
    <script src="{{ asset('js/libs/json2.js') }}"></script>
    <script src="{{ asset('js/libs/jquery.easyui.min.js') }}"></script> 
    
    <script src="{{ asset('js/libs/serialize.js') }}"></script> 
    <script src="{{ asset('js/libs/underscore-min.js') }}"></script> 
    <script src="{{ asset('js/libs/backbone.js') }}"></script>
    
    <script src="{{ asset('js/libs/bootstrap.js') }}"></script>
    <script src="{{ asset('js/bootstrap-modal-design.js') }}"></script> 
    <script src="{{ asset('js/bootstrap-wysihtml5-0.0.2.js') }}"></script> 
  
    <script src="{{ asset('js/noty/jquery.noty.js') }}"></script>
    <script src="{{ asset('js/noty/layouts/top.js') }}"></script>
    <script src="{{ asset('js/noty/layouts/topLeft.js') }}"></script>
    <script src="{{ asset('js/noty/layouts/center.js') }}"></script>
    <script src="{{ asset('js/noty/layouts/bottomRight.js') }}"></script>
    <script src="{{ asset('js/noty/themes/default.js') }}"></script>
    <script src="{{ asset('js/jquery.validate.js') }}"></script>
    <script src="{{ asset('js/backbonejs/models.js') }}"></script> 
    <script src="{{ asset('js/backbonejs/collections.js') }}"></script> 
    <script src="{{ asset('js/backbonejs/route.js') }}"></script> 
    
    <script src="{{ asset('js/pages/Security/chat.js') }}"></script> 

    <script src="{{ asset('js/libs/jquery.treegrid.js') }}"></script>
    <script src="{{ asset('js/libs/jquery.treegrid.bootstrap3.js') }}"></script>
    <script src="{{ asset('js/libs/modernizr.custom.57796.js') }}"></script>
    <script src="{{ asset('js/libs/moment.min.js') }}"></script>
    <script src="{{ asset('js/libs/bootstrap-datetimepicker.min.js') }}"></script>
    <script src="{{ asset('js/libs/locales/bootstrap-datetimepicker.es.js') }}"></script>

{% endblock %}
{% block ScriptHead %}
{% endblock %}

</head>

<body>
<div style="background-color:#3B4449">
<div id="main-header" >
    <div id="main-header-title" >
       <h2> {{title}}</h2>
    </div> 
    <a id="HangoutButton" href="#" class="round-button"><span class="glyphicon glyphicon-comment"></span></a>
</div> 
{{Menu| raw}}
</div>  

             
{% block body %}

{% endblock %}

  
{% block footer %}
     
{% endblock %}
   



</body>
{% block windows %}

{% endblock %}
{% block message %}

{% endblock %}
</html>
{% block ScriptFooter %}
{% endblock %}

<script src="{{ asset('js/jquery.knob.js') }}"></script>
<script src="{{ asset('js/jquery.ui.widget.js') }}"></script>
<script src="{{ asset('js/jquery.iframe-transport.js') }}"></script>
<script src="{{ asset('js/jquery.fileupload.js') }}"></script>
