{% block ScriptHead %}
    <script src="{{ asset('js/pages/Evaluador/index.js') }}"></script> 
{% endblock %}
<div class="panel panel-default">
  <div class="panel-heading panel-primary ">
    <nav class="navbar navbar-default" role="navigation" style="z-index:0">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex2-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">{{ title_list }}</a>
        </div>
        <div class="collapse navbar-collapse navbar-ex2-collapse">
          
          <form class="navbar-form navbar-right">
            <a href="{{ path('_admin_evaluador_report') }}" type="button" class="btn btn-default navbar-btn pull-right"> <span class="glyphicon glyphicon-print"> </span> Imprimir</a>
          </form>
        </div>
    </nav>
  </div>
  <div class="panel-body">
    {% 
    set filterBy= {
        'u.username':'Usuario',
        'e.nombres':'Nombres',
        'e.apellidos':'Apellidos',
        'e.numdoc':'N° Documento',
        'e.direccion':'Dirección',
        'e.empresa':'Empresa'
    }


     %}
     {{ knp_pagination_filter(pagination,filterBy,[ path(pagination.route)]) }}
     <table class="table table-bordered table-hover table-condensed table-striped" style="width:100%">
        <thead>
            <tr >
                <th class="grid-header" style="text-align: center;">{{ knp_pagination_sortable(pagination, 'Usuario', 'u.username') }}</th>
                <th class="grid-header" style="text-align: center;">{{ knp_pagination_sortable(pagination, 'Nombres y Apellidos', 'e.nombres') }}</th>
                <th class="grid-header" style="text-align: center;">{{ knp_pagination_sortable(pagination, 'Número Documento', 'e.numdoc') }}</th>
                <th class="grid-header" style="text-align: center;">{{ knp_pagination_sortable(pagination, 'Dirección', 'e.direccion') }}</th>
                <th class="grid-header" style="text-align: center;">{{ knp_pagination_sortable(pagination, 'Empresa', 'e.empresa') }}</th>
                <th class="grid-header" style="text-align: center;">{{ knp_pagination_sortable(pagination, 'Cargo', 'e.cargo') }}</th>    
                <th class="grid-header" style="text-align: center;">{{ knp_pagination_sortable(pagination, 'Profesión', 'e.profesion') }}</th>
                <th class="grid-header" style="text-align: center;">{{ knp_pagination_sortable(pagination, 'Teléfono', 'e.telefono') }}</th>
                <th class="grid-header" style="text-align: center;">{{ knp_pagination_sortable(pagination, 'Celular', 'e.celular') }}</th>
                <th class="grid-header" style="text-align: center;">{{ knp_pagination_sortable(pagination, 'Email', 'e.email1') }}</th>
                <th class="grid-header" style="width: 60px;text-align: center;">Opciones</th>
            </tr>
        </thead>
        <tbody>
         
        {% for entity in pagination %}
            <tr>
                
                <td>{{entity.usuario.username}}</td>
                <td>{{ entity.nombres~' '~entity.apellidos }}</td>
                <td>{{ entity.numdoc }}</td>
                <td>{{entity.direccion}}</td>
                <td>{{entity.empresa}}</td>
                <td>{{entity.cargo}}</td>
                <td>{{entity.profesion}}</td>
                <td>{{entity.telefono}}</td>
                <td>{{entity.celular}}</td>
                <td>{{entity.email1}}</td>
                <td style="text-align: center;font-size: 12px;">
                    <a href="#menu/_admin_inicio_evaluador/{{entity.id}}" class="btn btn-warning btn-xs" data-id="{{ entity.id }}" title="Editar Postulante"><i class="glyphicon glyphicon-edit"> </i></a>
                   
                    
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>
        {{ knp_pagination_render(pagination,'AppWebBundle:Default:pagination.html.twig') }}
    </div>
  </div>



</div>
  

{% block windows %}
    <div id="winForm"></div>
{% endblock %}