{% block ScriptHead %}
    <script src="{{ asset('js/pages/Evaluador/index.js') }}"></script> 
{% endblock %}
<div class="panel panel-default">
  <div class="panel-heading panel-primary ">
    <nav class="navbar navbar-default" role="navigation" style="z-index:0">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex2-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">{{ title_list }}</a>
        </div>
      
    </nav>
  </div>
  <div class="panel-body">
     <table class="table table-bordered table-hover table-condensed table-striped" style="width:100%">
        <thead>
            <tr >
                <th class="grid-header" style="text-align: center;">Usuario</th>
                <th class="grid-header" style="text-align: center;">Nombres y Apellidos</th>
                <th class="grid-header" style="text-align: center;">Número Documento</th>
                <th class="grid-header" style="text-align: center;">Dirección</th>
                <th class="grid-header" style="text-align: center;">Empresa</th>
                <th class="grid-header" style="width: 60px;text-align: center;">Opciones</th>
            </tr>
        </thead>
        <tbody>
         
        {% for entity in pagination %}
            <tr>
                
                <td>{{entity.usuario.username}}</td>
                <td>{{ entity.nombres~' '~entity.apellidos }}</td>
                <td>{{ entity.numdoc }}</td>
                <td>{{entity.direccion}}</td>
                <td>{{entity.empresa}}</td>
                <td style="text-align: center;font-size: 12px;">
                    <a href="#" class="row-edit" data-id="{{ entity.id }}" title="Editar Postulante"><i class="glyphicon glyphicon-edit"> </i></a>
                   
                    
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>
        {{ knp_pagination_render(pagination,'AppWebBundle:Default:pagination.html.twig') }}
    </div>
  </div>



</div>
  

{% block windows %}
    <div id="winForm"></div>
{% endblock %}