{% block ScriptHead %}
  <script src="{{ asset('js/pages/Evaluador/perfil.js') }}"></script> 
{% endblock %}
<ol class="breadcrumb" style="font-size:12px;margin-bottom:2px;">
  <li><a href="javascript:return false;">Inicio</a></li>
  
  <li class="active">Mis Datos Personales</li>
</ol>
<div class="row">
    <div class="col-lg-4">
        <h3 style="margin-top:4px;">{{ entity.nombres|default('-') }} {{ entity.apellidos|default('-') }}</h3>
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading2">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
           <span class="glyphicon glyphicon-user"></span>
      		Datos Personales
           
        </a>
           
      </h4>
            
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        
         
          <div class="row">
          	<div class="col-md-5"><label>DNI:</label></div>
          	<div class="col-md-7">{{ entity.numdoc|default('-') }}</div>
               
                 
          </div>
          <div class="row">
          	<div class="col-md-5"><label>Profesión:</label></div>
          	<div class="col-md-7">{{ entity.profesion|default('-') }}</div>
          </div>
          <div class="row">
          	<div class="col-md-5"><label>Dirección:</label></div>
          	<div class="col-md-7">{{ entity.direccion|default('-') }}</div>
          </div>
          <div class="row">
          	<div class="col-md-5"><label>Telefono:</label></div>
          	<div class="col-md-7">{{ entity.telefono|default('-') }}</div>
          </div>
          <div class="row">
          	<div class="col-md-5"><label>Celular:</label></div>
          	<div class="col-md-7">{{ entity.celular|default('-') }}</div>
          </div>
          <div class="row">
          	<div class="col-md-5"><label>Email 1:</label></div>
          	<div class="col-md-7">{{ entity.email1|default('-') }}</a></div>
          </div>
          <div class="row">
          	<div class="col-md-5"><label>Email 2:</label></div>
          	<div class="col-md-7">{{ entity.email2|default('-') }}</a></div>
          </div>
          <div class="row">
          	<div class="col-md-5"><label>Empresa:</label></div>
          	<div class="col-md-7">{{ entity.empresa|default('-') }}</a></div>
          </div>
          <div class="row">
          	<div class="col-md-5"><label>Cargo:</label></div>
          	<div class="col-md-7">{{ entity.cargo|default('-') }}</a></div>
          </div>
           <div class="row">
          	<div class="col-md-5">
                    <label>Curriculum:</label>
                    <a href="javascript:return false;" id="lnkCV"><span class="glyphicon glyphicon-paperclip"></span></a>
                    <input id="fileCV" type="file" name="fileCV" style="display:none;" multiple />
                    
                </div>
          	<div class="col-md-7">
                    <a id="lnkCVDownload" target="_blank" href="{{ asset('docs/evaluador/cv/')}}{{entity.curriculum|default('#')}}" data-path="{{ asset('docs/evaluador/cv/')}}">Ver Curriculum</a>
                    
                </div>
          </div>
           <div class="row">
              <div class="col-md-9">
              </div>
              <div class="col-md-3">
                 <a id="btnEdit" href="javascript:void(0)" class="btn btn-info" data-id="{{ entity.id }}" style="font-size:12px;" >
                    <span class="glyphicon glyphicon-edit"></span>
                </a>
              </div>
                 
          </div>
          
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading2">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
            <span class="glyphicon glyphicon-calendar"></span>
         Disponibilidad
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        
        <div  id="containerDisponibilidad">
             
        </div>
           <div class="row">
              <div class="col-md-12">
                  Disponibilidad para viajar:
                  <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default btn-xs {% if entity.disponibleviaje=='1'%}active{% endif %}">
                        <input type="radio" name="disponibilidad" value="1" data-id="{{ entity.id }}" > Si
                    </label>
                    <label class="btn btn-default btn-xs {% if entity.disponibleviaje=='0'%}active{% endif %}">
                        <input type="radio" name="disponibilidad" value="0" data-id="{{ entity.id }}"> No
                    </label>

                    </div>
              </div>
             
          </div>
          
      </div>
    </div>
  </div>
 
</div>
          
    
     
     

  </div>
  <div class="col-lg-8"  >
  	<h3 style="margin-top:4px;">Conflictos de Interes
  		<span style="float:right;"><a id="btnConflictoNew" href="javascript:return false;" class="btn btn-info" style="font-size:12px;"><span class="glyphicon glyphicon-plus"></span></a></span>
  	</h3>
<div id="containerConflicto">
</div>
  	
      
  </div>
 
</div>
<div id="winForm"></div>
<input type="hidden" id="hdnEntity_id" value="{{entity.id|default('-') }}"/>

<script type="text/template" id="listDisponibilidad_template">
<div id="listDisponibilidad" class="list-group">
</div>
</script>
<script type="text/template" id="itemDisponibilidad_template">

<p class="list-group-item-text" data-id="<%=model.id %>">
  <span class="pull-right">&nbsp;</span> 
  <a style="cursor:pointer;" class="pull-right" data-turno="noche" data-dia='<%=model.id %>' data-value="<%=model.disponibilidad.noche%>"><span class="badge <% if(model.disponibilidad.noche==true){ %>badge-success<% } %>">N</span></a> 
  <span class="pull-right">&nbsp;</span> 
  <a style="cursor:pointer;" class="pull-right" data-turno="tarde" data-dia='<%=model.id %>' data-value="<%=model.disponibilidad.tarde%>"><span class="badge <% if(model.disponibilidad.tarde==true){ %>badge-success<% } %>">T</span></a>  
  <span class="pull-right">&nbsp;</span> 
  <a  style="cursor:pointer;" class="pull-right" data-turno="manana" data-dia='<%=model.id %>' data-value="<%=model.disponibilidad.manana%>"><span class="badge <% if(model.disponibilidad.manana==true){ %>badge-success<% } %>">M</span> </a> 
  <b> <%= model.dia%></b> <br/>
                       
</p>
</script>