<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
 </head>
<body>

<div class="panel panel-default">
  <div class="panel-heading panel-primary ">
    <h2>
    {{ title_list }}
    </h2> 
  </div>
  <div class="panel-body">
  
    <div id="grid" style="width:100%">
      <table id="treeGrid" class="table tree-2 table-bordered table-striped table-condensed table-striped" style="width:100%;border-color:#000;" border='1'>
        <thead>
            <tr >

                
                <th class="grid-header" style="text-align: center;">Usuario</th>
                <th class="grid-header" style="text-align: left;">Apellidos y Nombres</th>
                <th class="grid-header" style="text-align: center;">N° Documento</th>
                <th class="grid-header text-center" style="text-align: center;width:120px;">Dirección</th>
                <th class="grid-header text-center" style="text-align: center;width:120px;">Empresa</th>
                <th class="grid-header text-center" style="text-align: center;width:120px;">Cargo</th>
                <th class="grid-header text-center" style="text-align: center;width:120px;">Profesión</th>
                <th class="grid-header text-center" style="text-align: center;width:120px;">Teléfono</th>
                <th class="grid-header text-center" style="text-align: center;width:120px;">Celudar</th>
                <th class="grid-header text-center" style="text-align: center;width:120px;">Email</th>
                <th class="grid-header text-center" style="text-align: center;">Concurso</th>
                
            </tr>
        </thead>
        <tbody>
         
        {% for entity in entities %}
            <tr>
                <td valign="top">{{entity.usuario.username}}</td>
                <td valign="top">{{ entity.apellidos~' '~entity.nombres }}</td>
                <td valign="top">{{ entity.numdoc }}&nbsp;</td>
                <td valign="top">{{entity.direccion}}</td>
                <td valign="top">{{entity.empresa}}</td>
                <td valign="top">{{entity.cargo}}</td>
                <td valign="top">{{entity.profesion}}</td>
                <td valign="top">{{entity.telefono}}</td>
                <td valign="top">{{entity.celular}}</td>
                <td valign="top">{{entity.email1}}</td>
                <td valign="top">
                  {% for inscripcion in entity.inscripciones %}
                    {{inscripcion.concurso.nombre}}<br/>
                  {% endfor %}
                </td> 
            </tr>
        {% endfor %}
        </tbody>
    </table>

   </div>
  </div>



</div>
  

</body>
</html>

