<div class="list-group">
   {% for entity in pagination %}
           <a href="#" class="list-group-item ">
    <h4 class="list-group-item-heading">{{entity.nombre}}</h4>
    <p class="list-group-item-text">{{entity.presentacion|raw}}</p>
    <button type="button" data-type="inscripcion" class="btn btn-success" onclick="new Concurso().Detail({{entity.id}})">Ver Detalle</button>
  </a>
        {% endfor %}
  
  </div>
  <div>
        {{ knp_pagination_render(pagination,'AppWebBundle:Concurso:pagination.html.twig') }}
  </div>
<input type="hidden" id="script" value="{{ asset('js/pages/Concurso/showInscripcion.js')}}"/>