{% block ScriptHead %}
    <script src="{{ asset('js/pages/Concurso/index.js') }}"></script> 
{% endblock %}
<div class="panel panel-default">
  <div class="panel-heading panel-primary ">
    <nav class="navbar navbar-default" role="navigation" style="z-index:0">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex2-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">{{ title_list }}</a>
        </div>
        <div class="collapse navbar-collapse navbar-ex2-collapse">
         
          <form class="navbar-form navbar-right">
            
            <button id="btnNew" type="button" class="btn btn-success navbar-btn pull-right" title="Nuevo Concurso"> <span class="glyphicon glyphicon-plus"> </span> Nuevo</button>
            <a href="{{ path('_admin_concurso_report') }}" type="button" class="btn btn-default navbar-btn pull-right" title="Imprimir Lista de Concursos" style="margin-right:5px;"> <span class="glyphicon glyphicon-print"> </span> Imprimir</a>
          </form>
        </div>
    </nav>
  </div>
  <div class="panel-body">
    {% 
    set filterBy= {
        'c.nombre':'Concurso',
        't.nombre':'Tipo de Concurso',
        'c.anio':'Año'
    }


     %}
     {{ knp_pagination_filter(pagination,filterBy,[ path(pagination.route)]) }}
     <table class="table table-bordered table-hover table-condensed table-striped" style="width:100%">
        <thead>
            <tr >
                <th class="grid-header" style="text-align: center;">{{ knp_pagination_sortable(pagination, 'Concurso', 'c.nombre') }}</th>
                <th class="grid-header" style="text-align: center;">{{ knp_pagination_sortable(pagination, 'Año', 'c.anio') }}</th>
                <th class="grid-header" style="text-align: center;">{{ knp_pagination_sortable(pagination, 'Tipo de Concurso', 't.nombre') }}</th>
                <th class="grid-header" style="text-align: center;">Fecha Inicio</th>
                <th class="grid-header" style="text-align: center;">Fecha Fin</th>
                <th class="grid-header" style="width: 170px;text-align: center;">Opciones</th>
            </tr>
        </thead>
        <tbody>
         
        {% for entity in pagination %}
            <tr>
                
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.anio }}</td>
                <td>{{ entity.tipoConcurso.nombre }}</td>
                <td>{% if entity.fechaInicio %}{{ entity.fechaInicio|date('d/m/Y') }}{% endif %}</td>
                <td>{% if entity.fechaFin %}{{ entity.fechaFin|date('d/m/Y') }}{% endif %}</td>
                <td style="text-align: center;font-size: 12px;">
                    <a class="row-show btn btn-default btn-xs" data-id="{{ entity.id }}" title="Ver Detalle"><span class="glyphicon glyphicon-search"> </span></a>
                    
                    <a href="#menu/_admin_etapaconcurso/{{ entity.id }}" class="btn btn-info btn-xs">
                        <span class="glyphicon glyphicon-calendar red" title="Ver Cronograma"> </span></a>
                    <a href="#menu/_admin_concurso_criterio/{{ entity.id }}" class="btn btn-info btn-xs">
                        <span class="glyphicon glyphicon-list-alt" title="Ver Criterios Concurso"> </span></a>
                    <a class="row-edit btn btn-warning btn-xs" data-id="{{ entity.id }}" title="Editar Concurso"><span class="glyphicon glyphicon-pencil "> </span></a>
                    <a class="row-delete  btn btn-danger btn-xs" data-id="{{ entity.id }}" title="Eliminar Concurso"><span class="glyphicon glyphicon-trash"> </span></a>
                
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>
        {{ knp_pagination_render(pagination,'AppWebBundle:Default:pagination.html.twig') }}
    </div>
  </div>



</div>
  

{% block windows %}
    <div id="winForm"></div>
{% endblock %}