{% block ScriptHead %}
    <script src="{{ asset('js/pages/Concurso/index.js') }}"></script> 
{% endblock %}
<div class="panel panel-default">
  <div class="panel-heading panel-primary ">
    <nav class="navbar navbar-default" role="navigation" style="z-index:0">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex2-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">{{ title_list }}</a>
        </div>
        <div class="collapse navbar-collapse navbar-ex2-collapse">
          <button id="btnNew" type="button" class="btn btn-success navbar-btn pull-right"> <span class="glyphicon glyphicon-plus"> </span> Nuevo</button>
        </div>
    </nav>
  </div>
  <div class="panel-body">
     <table class="table table-bordered table-hover table-condensed table-striped" style="width:100%">
        <thead>
            <tr >
                <th class="grid-header" style="text-align: center;">Concurso</th>
                <th class="grid-header" style="text-align: center;">Anio</th>
                <th class="grid-header" style="text-align: center;">Tipo</th>
                <th class="grid-header" style="text-align: center;">Fecha Inicio</th>
                <th class="grid-header" style="text-align: center;">Fecha Fin</th>
                <th class="grid-header" style="width: 170px;text-align: center;">Opciones</th>
            </tr>
        </thead>
        <tbody>
         
        {% for entity in pagination %}
            <tr>
                
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.anio }}</td>
                <td>{{ entity.tipoConcurso.nombre }}</td>
                <td>{% if entity.fechaInicio %}{{ entity.fechaInicio|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.fechaFin %}{{ entity.fechaFin|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td style="text-align: center;font-size: 12px;">
                    <a href="#" class="row-show btn btn-default btn-xs" data-id="{{ entity.id }}" title="Ver Detalle"><span class="glyphicon glyphicon-search"> </span></a>
                    
                    <a href="#" class="row-etapas  btn btn-info btn-xs" data-id="{{ entity.id }}"><span class="glyphicon glyphicon-calendar red" title="Etapas"> </span></a>
                    <a href="#" class="row-criterios btn btn-info btn-xs" data-id="{{ entity.id }}">
                        <span class="glyphicon glyphicon-list-alt" title="Criterios"> </span></a>
                    <a href="#" class="row-edit btn btn-warning btn-xs" data-id="{{ entity.id }}" title="Editar"><span class="glyphicon glyphicon-pencil "> </span></a>
                    <a href="#" class="row-delete  btn btn-danger btn-xs" data-id="{{ entity.id }}" title="Eliminar"><span class="glyphicon glyphicon-trash"> </span></a>
                
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>
        {{ knp_pagination_render(pagination,'AppWebBundle:Default:pagination.html.twig') }}
    </div>
  </div>



</div>
  

{% block windows %}
    <div id="winForm"></div>
{% endblock %}