<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
 </head>
<body>

<div class="panel panel-default">
  <div class="panel-heading panel-primary ">
    <h2>
    {{ title_list }}
    </h2> 
  </div>
  <div class="panel-body">
  
    <div id="grid" style="width:100%">
      <table id="treeGrid" class="table tree-2 table-bordered table-striped table-condensed table-striped" style="width:100%;border-color:#000;" border='1'>
        <thead>
            <tr >

                <th class="grid-header" style="text-align: left;">Nombre</th>
                <th class="grid-header" style="text-align: center;">Año</th>
                <th class="grid-header" style="text-align: center;">Tipo</th>
                <th class="grid-header text-center" style="text-align: center;width:80px;">Fecha Inicio</th>
                <th class="grid-header text-center" style="text-align: center;width:80px;">Fecha Fin</th>
                
            </tr>
        </thead>
        <tbody>
         
        {% for entity in entities %}
            <tr>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.anio }}</td>
                <td>{{ entity.tipoConcurso.nombre }}</td>
                <td>{% if entity.fechaInicio %}{{ entity.fechaInicio|date('d/m/Y') }}{% endif %}</td>
                <td>{% if entity.fechaFin %}{{ entity.fechaFin|date('d/m/Y') }}{% endif %}</td>
                
            </tr>
        {% endfor %}
        </tbody>
    </table>

   </div>
  </div>



</div>
  

</body>
</html>

