<form id="myform" >

<ul class="nav nav-tabs" style="font-size:11px;">
  <li class="active"><a href="#conc-tab-1" data-toggle="tab">Datos Principales</a></li>
  <li><a href="#conc-tab-2" data-toggle="tab">Config. Formul.</a></li>
  <li><a href="#conc-tab-3" data-toggle="tab">Config. Sistema Eval.</a></li>
  <li><a href="#conc-tab-4" data-toggle="tab">Terminos de Acepación</a></li>
  <li><a href="#conc-tab-5" data-toggle="tab">Presentación</a></li>
  <li><a href="#conc-tab-6" data-toggle="tab">Proc. Gen. Inf. Retr.</a></li>
  <li><a href="#conc-tab-7" data-toggle="tab">Proc. de Calificación</a></li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="conc-tab-1" style="padding-top:10px;">

      <div class="row">
        <div class="col-lg-12">
          <label class="control-label">Tipo Concurso</label><br/>
          <input type="text" class="form-control" value="{{entity.tipoConcurso.nombre}}" disabled/>
          
        </div>
      
      </div>
      <br/>
        <div class="row">
            <div class="col-lg-3">
                <label class="control-label">Año</label><br/>
                <input type="text" class="form-control" value=" {{entity.anio}}" disabled/>
               
            </div>
            <div class="col-lg-9">
                <label class="control-label">Nombre:</label><br/>
                <input type="text" class="form-control" value="{{entity.nombre}}" disabled/>
                 
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-lg-3">
                <label class="control-label">Fecha Inicio:</label><br/>
                <input type="text" class="form-control" value="{% if entity.fechaInicio %}{{ entity.fechaInicio|date('d/m/Y') }}{% endif %}" disabled/>
                
            </div>
            <div class="col-lg-3">
                <label class="control-label">Fecha Fin:</label><br/>
                <input type="text" class="form-control" value="{% if entity.fechaFin %}{{ entity.fechaFin|date('d/m/Y') }}{% endif %}" disabled/>
                
            </div>
            <div class="col-lg-6">
                &nbsp;
            </div>
        </div>
     
     
  </div>
  <div class="tab-pane" id="conc-tab-2">
        <div class="row">
            <div class="col-lg-3">
                <label class="control-label">Clasificación de Empresas:</label><br/>
                <input type="text" value="{% if(entity.estadoemp==1)%} Activo {% else %} Inactivo {% endif %}" class="form-control" readonly="readonly"/>
               
            </div>
            <div class="col-lg-3">
                <label class="control-label">Información de Proyecto:</label><br/>
                <input type="text" value="{% if(entity.estadopy==1)%} Activo {% else %} Inactivo {% endif %}" class="form-control" readonly="readonly"/>
            </div>
            
        </div>
  </div>
  <div class="tab-pane" id="conc-tab-3">
        <div class="row">
            <div class="col-lg-3">
                <label class="control-label">Inc.Porcentaje de Puntaje:</label><br/>
                <input type="text" class="form-control" value="{{entity.incpuntaje}}" readonly="readonly"/>
                
            </div>
            <div class="col-lg-3">
                <label class="control-label">Evaluacion de Criterio:</label><br/>
                <input type="text" class="form-control" value="{{entity.evaluacriterio}}" readonly="readonly"/>
                
            </div>
            <div class="col-lg-6">
                &nbsp;
            </div>
        </div>
  </div>
   <div class="tab-pane" id="conc-tab-4">

        <div class="row">
            <div class="col-lg-12">
                <label class="control-label">Terminos de Aceptación:</label><br/>
                <textarea class="form-control" rows="10" readonly="readonly">
                {{entity.terminoacepta}}
                </textarea>
                
            </div>
            
        </div>
  </div>
  <div class="tab-pane" id="conc-tab-5">

        <div class="row">
            <div class="col-lg-12">
                <label class="control-label">Presentación:</label><br/>
                <textarea class="form-control" rows="10" readonly="readonly">
                {{entity.presentacion}}
                </textarea>
                
            </div>
            
        </div>
  </div>
  <div class="tab-pane" id="conc-tab-6">
    
        <div class="row">
            <div class="col-lg-12">
                <label class="control-label">Proceso Generación Informe de Retroalimentación:</label><br/>
                <textarea class="form-control" rows="10" readonly="readonly">
                {{entity.informeretro}}
                </textarea>
                
            </div>
            
        </div>
  </div>
  <div class="tab-pane" id="conc-tab-7">
    
        <div class="row">
            <div class="col-lg-12">
                <label class="control-label">Proceso de Calificación:</label><br/>
                <textarea class="form-control" rows="10" readonly="readonly">
                {{entity.calificacion}}
                </textarea>
                
            </div>
            
        </div>
  </div>
</div>

</form>
{% block ScriptFooter %}
<script src="{{ asset('js/pages/Concurso/new.js') }}"></script> 
{% endblock %}