{% block ScriptHead %}
    <script src="{{ asset('js/pages/Perfil/index.js') }}"></script> 
{% endblock %}
<div class="panel panel-default">
  <div class="panel-heading panel-primary ">
    <nav class="navbar navbar-default" role="navigation" style="z-index:0">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex2-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">{{ title_list }}</a>
        </div>
        <div class="collapse navbar-collapse navbar-ex2-collapse">
          <button id="btnNew" type="button" class="btn btn-success navbar-btn pull-right"> <span class="glyphicon glyphicon-plus"> </span> Nuevo</button>
        </div>
    </nav>
  </div>
  <div class="panel-body">
    <table class="table table-bordered table-hover table-condensed table-striped" style="width:100%">
        <thead>
            <tr >
                <th class="grid-header" style="text-align: center;">Nombre Perfil</th>
        <th class="grid-header" style="text-align: center;">Descripcion</th>
        <th class="grid-header" style="text-align: center;">Estado</th>
                <th class="grid-header" style="width: 60px;text-align: center;">Opciones</th>
            </tr>
        </thead>
        <tbody>
         
        {% for entity in pagination %}
            <tr>
                
                <td>{{ entity.nombre }}</td>
        <td>{{ entity.descripcion }}</td>
                <td>{% if entity.estado==1 %}{{ "Activo" }}{% endif %} {% if entity.estado==0 %}{{ "Inactivo" }}{% endif %}</td>
                   
                
                
                <td style="text-align: center;font-size: 12px;">
                    <a href="#" class="row-show" data-id="{{ entity.id }}"><i class="glyphicon glyphicon-search"> </i></a>
                    <a href="#" class="row-edit" data-id="{{ entity.id }}"><i class="glyphicon glyphicon-pencil"> </i></a>
                    <a href="#" class="row-delete" data-id="{{ entity.id }}"><i class="glyphicon glyphicon-trash"> </i></a>
                
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>
        {{ knp_pagination_render(pagination,'AppWebBundle:Default:pagination.html.twig',{renderBody:"main-body"}) }}
    </div>
  </div>



</div>
  

{% block windows %}
    <div id="winForm"></div>
{% endblock %}
