<form id="myform"  method="post" {{ form_enctype(form) }} >
 {{form_widget(form._token)}}
{{form_row(form.nombre)}}
{{form_row(form.descripcion)}}
<div class="form-group">
         <ul id='tree' class="easyui-tree panel"  style="height:250px;overflow-y:auto;margin-top:5px;">
       
        </ul>
</div>
</form>
{% block ScriptFooter %}
<script src="{{ asset('js/pages/Perfil/new.js') }}"></script> 
{% endblock %}

