{% block ScriptHead %}
    <script src="{{ asset('js/pages/ConcursoCriterio/index.js') }}"></script> 
{% endblock %}
<input id="idConcurso" type="hidden" value="{{concurso.id}}" />

<div class="panel panel-default">
  <div class="panel-heading panel-primary ">
    <nav class="navbar navbar-default" role="navigation" style="z-index:0">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex2-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" >
             
        {{concurso.nombre}}
        <small>
        [{% if concurso.fechaInicio %}{{ concurso.fechaInicio|date('d/m/Y') }}{% endif %} - {% if concurso.fechaFin %}{{ concurso.fechaFin|date('d/m/Y') }}{% endif %}]
        </small>     
         </a>
        </div>
        <div class="collapse navbar-collapse navbar-ex2-collapse">
          <button id="btnNewCriterio" type="button" class="btn btn-success navbar-btn pull-right"> <span class="glyphicon glyphicon-plus"> </span> Nuevo</button>
        </div>
    </nav>
  </div>
  <div class="panel-body">
      <h4>{{ title_list }}</h4>
  
    <div id="grid" style="width:100%">
      <table id="treeGrid" class="table tree-2 table-bordered table-striped table-condensed table-striped" style="width:100%">
        <thead>
            <tr >

                <th class="grid-header" style="text-align: center;">Descripción</th>
                <th class="grid-header" style="text-align: center;">Tipo</th>
                <th class="grid-header" style="text-align: center;width:50px;">Puntaje</th>
                <th class="grid-header" style="width: 100px;text-align: center;">Opciones</th>
            </tr>
        </thead>
        <tbody>
         
        {% for entity in entities %}
            <tr class="treegrid-{{ entity.id}} {% if entity.idpadre!=0 %}treegrid-parent-{{ entity.idpadre }}{% endif %}">
                

                <td>{{ entity.codigo }}. {{ entity.descripcion }}</td>
                <td>{{ entity.tipoArbolCriterio.nombre }}</td>
                <td>{{ entity.puntaje }}</td>
                <td style="text-align: center;font-size: 12px;">
                    {% if entity.tipoArbolCriterio.codigo!=4 %}
                    <a class="row-add btn btn-info btn-xs" data-id="{{ entity.id }}" data-type="{{ entity.tipoArbolCriterio.codigo }}">
                        <span class="glyphicon glyphicon-plus" title="Etapas"> </span>
                    </a>
                    {% endif %}
                    <a class="row-edit btn btn-warning btn-xs" data-id="{{ entity.id }}" data-type="{{ entity.tipoArbolCriterio.codigo }}" title="Editar"><span class="glyphicon glyphicon-pencil "> </span></a>
                    <a class="row-delete  btn btn-danger btn-xs" data-id="{{ entity.id }}" title="Eliminar"><span class="glyphicon glyphicon-trash"> </span></a>
                
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
     <div id="gridCriterios"  style="height:350px;" >
        
    </div>
   </div>
  </div>



</div>
  

{% block windows %}
    <div id="winForm"></div>
{% endblock %}
