{% extends '::base.html.twig' %}

{% block body -%}
    <h1>ConcursoCriterio</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Ipdadre</th>
                <td>{{ entity.ipdadre }}</td>
            </tr>
            <tr>
                <th>Codigo</th>
                <td>{{ entity.codigo }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
            <tr>
                <th>Puntaje</th>
                <td>{{ entity.puntaje }}</td>
            </tr>
            <tr>
                <th>Glosa</th>
                <td>{{ entity.glosa }}</td>
            </tr>
            <tr>
                <th>Comentario</th>
                <td>{{ entity.comentario }}</td>
            </tr>
            <tr>
                <th>Detalle</th>
                <td>{{ entity.detalle }}</td>
            </tr>
            <tr>
                <th>Proposito</th>
                <td>{{ entity.proposito }}</td>
            </tr>
            <tr>
                <th>Nota</th>
                <td>{{ entity.nota }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('concursocriterio') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('concursocriterio_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('concursocriterio_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
