{% block ScriptHead %}
    <script src="{{ asset('js/pages/EtapaConcurso/index.js') }}"></script> 
{% endblock %}
<input id="idConcurso" type="hidden" value="{{concurso.id}}" />

<div class="panel panel-default">
  <div class="panel-heading panel-primary ">
    <nav class="navbar navbar-default" role="navigation" style="z-index:0">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex2-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
             
        {{concurso.nombre}}
        <small>
        [{% if concurso.fechaInicio %}{{ concurso.fechaInicio|date('d/m/Y') }}{% endif %} - {% if concurso.fechaFin %}{{ concurso.fechaFin|date('d/m/Y') }}{% endif %}]
        </small>     
         </a>
        </div>
        <div class="collapse navbar-collapse navbar-ex2-collapse">
          
        </div>
    </nav>
  </div>
  <div class="panel-body">
      <h4>{{ title_list }}</h4>
      <form id="myFormEtapas" method="post">
  <table class="table table-bordered table-hover table-condensed table-striped" style="width:100%">
        <thead>
            <tr >
                <th class="grid-header" style="text-align: center;">Etapa</th>
                <th class="grid-header" style="text-align: center;width: 120px;">Activa</th>
                <th class="grid-header" style="text-align: center;width: 100px;">Fecha Inicio</th>
                <th class="grid-header" style="text-align: center;width: 100px;">Fecha Fin</th>
                <th class="grid-header" style="text-align: center;width: 50px;">Extendido</th>
                <th class="grid-header" style="width: 150px;text-align: center;">Fecha Extensión</th>
                <th class="grid-header" style="width: 30px;text-align: center;"></th>
            </tr>
        </thead>
        <tbody>
        {% set index = 0 %} 
        {% for entity in entities %}
            {% if entity.id %}
                {% set estiloActive = 'active' %}
                {% set estiloInactive = '' %}
                {% set estado = "" %}
            {% else %}
                {% set estiloActive = '' %}
                {% set estiloInactive = 'active' %}
                {% set estado = "disabled=disabled" %}
            {% endif %}
            <tr>
                <td>
                    <input type="hidden" 
                           id="etapaid-{{index}}"
                           value="{{ entity.etapaId }}"
                    />
                {{ entity.nombre }}
                </td>
                <td>
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-default btn-xs {{estiloActive}}">
                            <input type="radio" 
                                   name="active-{{index}}" 
                                   id="optActive-{{index}}" 
                                   data-index="{{index}}" 
                                   data-etapaid="{{entity.etapaId}}" 
                                   data-id="{{entity.id}}"
                                   data-type='active'
                                   value='on'
                            /> Activo
                        </label>
                        <label class="btn btn-default btn-xs {{estiloInactive}}">
                            <input type="radio" 
                                   name="active-{{index}}" 
                                   id="optInactive-{{index}}" 
                                   data-index="{{index}}" 
                                   data-etapaid="{{entity.etapaId}}" 
                                   data-id="{{entity.id}}"
                                   data-type='active'
                                   value='off'
                             /> Inactivo
                        </label>
                    </div>
                </td>
                <td>
                    <input type="date" 
                           id="fechaInicioEtapa-{{index}}" 
                           name="fechaInicioEtapa-{{index}}" 
                           class="form-control input-small" 
                           value="{% if entity.fechaInicio %}{{ entity.fechaInicio|date('Y-m-d') }}{% endif %}" 
                           data-index="{{index}}" 
                           data-etapaid="{{entity.etapaId}}" 
                           data-id="{{entity.id}}"
                           {{estado}}
                     />
                </td>
                <td>
                    <input type="date" 
                           id="fechaFinEtapa-{{index}}" 
                           name="fechaFinEtapa-{{index}}" 
                           class="form-control input-small" 
                           value="{% if entity.fechaFin %}{{ entity.fechaFin|date('Y-m-d') }}{% endif %}"   
                           data-index="{{index}}" 
                           data-etapaid="{{entity.etapaId}}" 
                           data-id="{{entity.id}}"
                           {{estado}}
                     />
                </td>
                <td>
                    <input type="checkbox" 
                           id="chkExtendido-{{index}}" 
                           name="chkExtendido-{{index}}" 
                           data-index="{{index}}" 
                           data-etapaid="{{entity.etapaId}}" 
                           data-id="{{entity.id}}"
                           {{estado}}
                     />
                </td>
                <td>
                    <input type="date" 
                           id="fechaExtensionEtapa-{{index}}" 
                           name="fechaExtensionEtapa-{{index}}" 
                           class="form-control input-small" 
                           value="{% if entity.fechaExtension %}{{ entity.fechaExtension|date('Y-m-d') }}{% endif %}"   
                           data-index="{{index}}" 
                           data-etapaid="{{entity.etapaId}}" 
                           data-id="{{entity.id}}"
                           {{estado}}
                     />
                </td>
                <td>
                    <a href="#" class="btn btn-info btn-xs"
                        accesskey=""data-index="{{index}}" 
                        data-etapaid="{{entity.etapaId}}" 
                        data-id="{{entity.id}}"
                        data-type="save">
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                    </a>
                </td>

            </tr>
            {% set index = index+1 %}
        {% endfor %}
        </tbody>
    </table>
  </form>
  </div>



</div>
  

{% block windows %}
    <div id="winForm"></div>
{% endblock %}

   