<div class="row">
    <div class="col-lg-4">
       <nav class="navbar navbar-default" role="navigation" style="z-index:0">
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex2-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand" href="#">Grupos de Evaluación</a>
                    </div>
                    <div class="collapse navbar-collapse navbar-ex2-collapse">
                      <button id="btnNewGrupo" type="button" class="btn btn-success navbar-btn pull-right"> <span class="glyphicon glyphicon-plus"> </span></button>
                    </div>
                </nav>



        <div id="list-grupoevaluacion" class="list-group">
            <div  class="well"  style="margin:0px;">
   
         <select class="form-control">
              <option value="0">Todos los concursos</option>
             {% for entity in concursos %}
            <option value="{{entity.id}}">{{entity.nombre}}</option>
             {%endfor%}
        </select>

        </div>
            {% for entity in pagination %}
                <a href="#" class="list-group-item" data-toggle="popover" data-id="{{ entity.id }}" title="" data-content="And here's some amazing content. It's very engaging. right?" data-original-title="A Title">             
                    <p class="list-group-item-text" data-id="{{ entity.id }}">
                         <button class="btn btn-danger btn-xs pull-right"  data-id="{{ entity.id }}" data-type="delete">
                            <span class="glyphicon glyphicon-trash"> </span>
                        </button>
                        <span class="pull-right">
                           &nbsp;
                        </span>
                        <button class="btn btn-success btn-xs pull-right"  data-id="{{ entity.id }}" data-type="edit">
                            <span class="glyphicon glyphicon-edit"> </span>
                        </button> 
                        
                       
                        
                        <b>{{entity.nombre}}</b> <br/>
                        <small>{{entity.concurso.nombre}}</small>

                    </p>
                </a>
            {% endfor %}
             <div class="well"  style="margin:0px;">
            {{ knp_pagination_render(pagination,'AppWebBundle:Default:pagination.html.twig') }}
            </div>
        </div>
        
    </div>
    <div class="col-lg-8">
       <ul class="nav nav-tabs" id="myTab">
           <li class="active">
                <a href="#TabPostulantes" data-toggle="tab">Postulantes</a>
              </li>
              <li >
                <a href="#TabEvaluadores" data-toggle="tab">Evaluadores</a>
              </li>
              
             </ul>

        <div class="tab-content">
             <div class="tab-pane active" id="TabPostulantes">
                    <h4>Listado de Postulantes
                    <button id="btnNewPostulante" type="button" class="btn btn-success navbar-btn pull-right btn-xs"> <span class="glyphicon glyphicon-plus"> </span></button>
                    </h4>
                    <div id="container-postulantes">
                    </div>
          </div>
          <div class="tab-pane" id="TabEvaluadores">
                <h4>
                    Listado de Evaluadores
                <button id="btnNewEvaluador" type="button" class="btn btn-success navbar-btn pull-right btn-xs"> <span class="glyphicon glyphicon-plus"> </span></button>
                </h4>
                <div id="container-evaluadores">
                </div>
            </div>
         
         
        </div>
    </div>

</div>

{% block ScriptHead %}
    <script src="{{ asset('js/pages/GrupoEvaluacion/index.js') }}"></script> 
{% endblock %}
<!--plantilla grupo evaluacion-->
<textarea id="template-gruposevaluacion" style="display:none">
    <div id="list-grupoevaluacion" class="list-group">
        plantilla cargada....
    </div> 
</textarea>  

<!--plantilla items grupo evaluacion-->
<textarea id="template-grupoevaluacion-item" style="display:none">
     <p class="list-group-item-text" data-id=<%= entity.id %>>
        <b><%= entity.nombre %></b> <br/>
        <small><%= entity.descripcion %></small>

    </p>
</textarea>  
{% block windows %}
    <div id="winForm"></div>
{% endblock %}