{% block ScriptHead %}
    <script src="{{ asset('js/pages/Usuario/index.js') }}"></script> 
{% endblock %}
<div class="panel panel-default">
  <div class="panel-heading panel-primary ">
    <nav class="navbar navbar-default" role="navigation" style="z-index:0">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex2-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">{{ title_list }}</a>
        </div>
        <div class="collapse navbar-collapse navbar-ex2-collapse">
          
          <form class="navbar-form navbar-right">
            
           <button id="btnNew" type="button" class="btn btn-success navbar-btn pull-right" title="Nuevo Usuario"> <span class="glyphicon glyphicon-plus"> </span> Nuevo</button>
            <a href="{{ path('_admin_usuario_report') }}" type="button" class="btn btn-default navbar-btn pull-right" title="Imprimir Lista de Usuarios" style="margin-right:5px;"> <span class="glyphicon glyphicon-print"> </span> Imprimir</a>
          </form>
        </div>
    </nav>
  </div>
  <div class="panel-body">
    {% 
    set filterBy= {
        'u.username':'Usuario',
        'u.email':'Email',
        'u.nombres':'Nombres',
        'u.apellidos':'Apellidos',
        'p.nombre':'Perfil'
    }


     %}
     {{ knp_pagination_filter(pagination,filterBy,[ path(pagination.route)]) }}
     <table class="table table-bordered table-hover table-condensed table-striped" style="width:100%">
        <thead>
            <tr >
                <th class="grid-header" style="text-align: center;">{{ knp_pagination_sortable(pagination, 'Nombres y Apellidos', 'u.nombres') }}</th>
                <th class="grid-header" style="text-align: center;">{{ knp_pagination_sortable(pagination, 'Usuario', 'u.username') }}</th>
                <th class="grid-header" style="text-align: center;">{{ knp_pagination_sortable(pagination, 'Email', 'u.email') }}</th>
                <th class="grid-header" style="text-align: center;">{{ knp_pagination_sortable(pagination, 'Perfil', 'p.nombre') }}</th>
 
                <th class="grid-header" style="text-align: center;">{{ knp_pagination_sortable(pagination, 'Aprobado por Administrador', 'u.validaregistro') }}</th>
                <th class="grid-header" style="width: 100px;text-align: center;">Estado</th>
                <th class="grid-header" style="width: 100px;text-align: center;">Opciones</th>
            </tr>
        </thead>
        <tbody>
         
        {% for entity in pagination %}
            <tr>
                
                <td>{{entity.nombres ~ " " ~ entity.apellidos}}</td>
                <td>{{ entity.usernameCanonical }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.perfil.nombre }}</td>
                
                <td>{% if entity.validaregistro==1 %}{{ "Aprobado" }}{% endif %} {% if entity.validaregistro==0 %}{{ "No Aprobado" }}{% endif %}</td>
                <td>{% if entity.enabled==1 %}Activo{% else %}Inactivo{% endif %} </td>
                <td style="text-align: center;font-size: 12px;">
                    <a class="row-edit btn btn-warning btn-xs" data-id="{{ entity.id }}" title="Editar Usuario"><i class="glyphicon glyphicon-pencil"> </i></a>
                    {% if entity.validaregistro!=1 %}
                    <a class="row-active btn btn-info btn-xs" data-id="{{ entity.id }}" title="Aprobar Registro de Usuario"><i class="glyphicon glyphicon-check"> </i></a>
                    {% else %}
                      {% if entity.enabled==1 %}
                      <a class="row-changestate btn btn-danger btn-xs" data-id="{{ entity.id }}" title="Desactivar Usuario"><i class="glyphicon glyphicon-ban-circle"> </i></a>
                      {% else %}
                      <a class="row-changestate btn btn-success btn-xs" data-id="{{ entity.id }}" title="Activar Usuario"><i class="glyphicon glyphicon-check"> </i></a>
                      {% endif %}
                    {% endif %}
                
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>
        {{ knp_pagination_render(pagination,'AppWebBundle:Default:pagination.html.twig') }}
    </div>
  </div>



</div>
  

{% block windows %}
    <div id="winForm"></div>
{% endblock %}