<form id="myForm" {{ form_enctype(form) }} method="POST" class="form-register">
		<div class="form-group">
			<div class="row">
		  	<div class="col-lg-6">
		    	<label class="control-label">Tipo Documento</label>
	     		{{form_widget(form.tipoDocumento)}}
		    </div>
		    <div class="col-lg-6">
		    	<label class="control-label">{{form_label(form.nroDocumento)}}:</label>
		    	 {{form_widget(form.nroDocumento, { 'attr': {'class': 'form-control'} })}}
			</div>
		</div>
			<div class="row">
		  	<div class="col-lg-6">
		    	<label class="control-label">{{form_label(form.nombres)}}</label>
	     		{{form_widget(form.nombres, { 'attr': {'class': 'form-control'} })}}
		    </div>
		    <div class="col-lg-6">
		    	<label class="control-label">{{form_label(form.apellidos)}}:</label>
		    	 {{form_widget(form.apellidos, { 'attr': {'class': 'form-control'} })}}
			</div>
			</div>

			<div class="row">
		  	<div class="col-lg-12">
		    	<label class="control-label">{{form_label(form.email)}}</label>
	     		{{form_widget(form.email, { 'attr': {'class': 'form-control'} })}}
		    </div>
			</div>
			{{form_row(form.username, { 'attr': {'class': 'form-control'} })}}
			{{form_row(form.plainPassword, { 'attr': {'class': 'form-control'} })}}
			{{form_row(form.perfil, { 'attr': {'class': 'form-control'} })}}
	  	</div>
	
    {{form_widget(form._token)}}
  
</form>