
    <form id="myform" method="post" {{ form_enctype(form) }}>
        {{form_widget(form._token)}}  
        <div class="row">
            <div class="col-lg-12">
                <label class="control-label">Tipo Contacto:</label><br/>
                {{form_widget(form.postulantecontacto)}}
            </div>
           
        </div>
        <div class="row">
            <div class="col-lg-12">
                <label class="control-label">Nombre:</label><br/>
                {{form_widget(form.nombre)}}
            </div>
           
        </div>
        <div class="row">
            <div class="col-lg-6">
                <label class="control-label">Cargo:</label><br/>
                {{form_widget(form.cargo)}}
            </div>
           <div class="col-lg-6">
                <label class="control-label">Telefono:</label><br/>
                {{form_widget(form.telefono)}}
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-12">
                <label class="control-label">Fax:</label>
                {{form_widget(form.fax)}}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <label class="control-label">Email:</label>
                {{form_widget(form.email)}}
            </div>
        </div>
        
    </form>
