    <form id="myPerfilform" method="post" {{ form_enctype(form) }}>
        {{form_widget(form._token)}}
        <input type="hidden" name="_method" value="PUT" />
        <div class="row">
            <div class="col-lg-12">
                <label class="control-label">Razon Social:</label><br/>
                {{form_widget(form.razonsocial)}}
            </div>
           
        </div>
        <div class="row">
            <div class="col-lg-6">
                <label class="control-label">RUC:</label><br/>
                {{form_widget(form.ruc)}}
            </div>
            <div class="col-lg-6">
                <label class="control-label">Telefono</label><br/>
                {{form_widget(form.telefono)}}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <label class="control-label">Dirección</label>
                {{form_widget(form.direccion)}}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <label class="control-label">Web</label>
                {{form_widget(form.web)}}
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-12">
                <label class="control-label">Fax</label>
                {{form_widget(form.fax)}}
            </div>
        </div>

    </form>

