{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Postulante list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Razonsocial</th>
                <th>Direccion</th>
                <th>Ruc</th>
                <th>Telefono</th>
                <th>Web</th>
                <th>Fax</th>
                <th>Fechacreacion</th>
                <th>Fechaactualizacion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('postulante_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.razonsocial }}</td>
                <td>{{ entity.direccion }}</td>
                <td>{{ entity.ruc }}</td>
                <td>{{ entity.telefono }}</td>
                <td>{{ entity.web }}</td>
                <td>{{ entity.fax }}</td>
                <td>{% if entity.fechaCreacion %}{{ entity.fechaCreacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.fechaActualizacion %}{{ entity.fechaActualizacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('postulante_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('postulante_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('postulante_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
