{% block ScriptHead %}
    <script src="{{ asset('js/pages/Postulante/index.js') }}"></script> 
{% endblock %}
<div class="panel panel-default">
  <div class="panel-heading panel-primary ">
    <nav class="navbar navbar-default" role="navigation" style="z-index:0">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex2-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">{{ title_list }}</a>
        </div>
      
    </nav>
  </div>
  <div class="panel-body">
    {% 
    set filterBy= {
        'u.username':'Usuario',
        'p.razonsocial':'Razon  Social',
        'p.ruc':'RUC',
        'p.telefono':'Telefono',
        'p.direccion':'Dirección'
    }


     %}
     {{ knp_pagination_filter(pagination,filterBy,[ path(pagination.route)]) }}
     <table class="table table-bordered table-hover table-condensed table-striped" style="width:100%">
        <thead>
            <tr >
                <th class="grid-header" style="text-align: center;">{{ knp_pagination_sortable(pagination, 'Usuario', 'u.username') }}</th>
                <th class="grid-header" style="text-align: center;">{{ knp_pagination_sortable(pagination, 'Razon Social', 'p.razonsocial') }}</th>
                <th class="grid-header" style="text-align: center;">{{ knp_pagination_sortable(pagination, 'RUC', 'p.ruc') }}</th>
                <th class="grid-header" style="text-align: center;">{{ knp_pagination_sortable(pagination, 'Dirección', 'p.direccion') }}</th>
                <th class="grid-header" style="text-align: center;">{{ knp_pagination_sortable(pagination, 'Teléfono', 'p.telefono') }}</th>
                <th class="grid-header" style="width: 80px;text-align: center;">Opciones</th>
            </tr>
        </thead>
        <tbody>
          
        {% for entity in pagination %}
            <tr>
                
                <td>{{entity.usuario.username}}</td>
                <td>{{ entity.razonsocial }}</td>
                <td>{{ entity.ruc }}</td>
                <td>{{entity.direccion}}</td>
                <td>{{entity.telefono}}</td>
                <td style="text-align: center;font-size: 12px;">
                    <a href="#menu/_admin_postulante_perfil/{{ entity.id }}" class="row-edit btn btn-warning btn-xs" data-id="{{ entity.id }}" title="Editar Postulante"><i class="glyphicon glyphicon-edit"> </i></a>
                   
                    <a href="#" class="row-delete btn btn-info btn-xs" data-id="{{ entity.id }}" title="Reasignar Usuario"><i class="glyphicon glyphicon-user"> </i></a>
                
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>
        {{ knp_pagination_render(pagination,'AppWebBundle:Default:pagination.html.twig',{query:'ord=asc'}) }}
    </div>
  </div>



</div>
  

{% block windows %}
    <div id="winForm"></div>
{% endblock %}