{% block ScriptHead %}
  <script src="{{ asset('js/pages/Postulante/perfil.js') }}"></script> 
{% endblock %}
<ol class="breadcrumb" style="font-size:12px;">
  <li><a href="#">Inicio</a></li>
  
  <li class="active">Mis Datos Personales</li>
</ol>
<div class="row" style="margin: 5px;">
    <div class="col-lg-4">

          <h3>
          
          	Datos de Perfil
          	
          </h3>
      <div class="well  well-sm" style="font-size:12px;">
      	<h4>
      			<span class="glyphicon glyphicon-user"></span>
      		{{ entity.razonSocial|default('-')  }}
      	<span style="float:right;">
          <a id="btnEdit" href="javascript:void(0)" class="btn btn-info" data-id="{{ entity.id }}" style="font-size:12px;" >
            <span class="glyphicon glyphicon-edit"></span>
          </a>
        </span>
      	
         </h4>
         
          <div class="row">
          	<div class="col-md-5"><label>RUC:</label></div>
          	<div class="col-md-7">{{ entity.ruc|default('-') }}</div>
          </div>
          <div class="row">
          	<div class="col-md-5"><label>Dirección:</label></div>
          	<div class="col-md-7">{{ entity.direccion|default('-') }}</div>
          </div>
          <div class="row">
          	<div class="col-md-5"><label>Telefono:</label></div>
          	<div class="col-md-7">{{ entity.telefono|default('-') }}</div>
          </div>
          <div class="row">
          	<div class="col-md-5"><label>Fax:</label></div>
          	<div class="col-md-7">{{ entity.fax|default('-') }}</div>
          </div>
          <div class="row">
          	<div class="col-md-5"><label>Web:</label></div>
          	<div class="col-md-7"><a href="http://{{ entity.web|default('#') }}" target="_blank">{{ entity.web|default('-') }}</a></div>
          </div>
      </div>
  </div>
  <div class="col-lg-8"  >
  	<h3>
  		Datos de Contacto
  		<span style="float:right;"><a href="#" class="btn btn-info" style="font-size:12px;"><span class="glyphicon glyphicon-plus"></span></a></span>
  	</h3>

  	<div class="list-group">

  <a href="#" class="list-group-item ">
    <h4 class="list-group-item-heading">Sebastian Nuñez More<small> (Representante Legal)</small></h4>
    <p class="list-group-item-text">
		<div class="row" style="font-size:11px;">
				<div class="col-lg-3">
				<label>Cargo:</label><br/>
					Director Ejecutivo
				</div>
				<div class="col-lg-3">
					<label>Telefono:</label><br/>
					073-894545
				</div>
				<div class="col-lg-3">
					<label>Fax:</label><br/>
					Director Ejecutivo
				</div>
				<div class="col-lg-3">
					<label>Email:</label><br/>
					073-894545
				</div>
        </div>
          				
    </p>
    <button type="button" class="btn btn-info btn-xs"> 
    	<span class="glyphicon glyphicon-edit"></span> Editar
    </button>
     <button type="button" class="btn btn-danger btn-xs"> 
     	<span class="glyphicon glyphicon-remove"></span> Eliminar
     </button>
  </a>
  <a href="#" class="list-group-item ">
    <h4 class="list-group-item-heading">Sebastian Nuñez More<small> (Representante Legal)</small></h4>
    <p class="list-group-item-text">
		<div class="row" style="font-size:11px;">
				<div class="col-lg-3">
				<label>Cargo:</label><br/>
					Director Ejecutivo
				</div>
				<div class="col-lg-3">
					<label>Telefono:</label><br/>
					073-894545
				</div>
				<div class="col-lg-3">
					<label>Fax:</label><br/>
					Director Ejecutivo
				</div>
				<div class="col-lg-3">
					<label>Email:</label><br/>
					073-894545
				</div>
        </div>
          				
    </p>
    <button type="button" class="btn btn-info btn-xs"> 
    	<span class="glyphicon glyphicon-edit"></span> Editar
    </button>
     <button type="button" class="btn btn-danger btn-xs"> 
     	<span class="glyphicon glyphicon-remove"></span> Eliminar
     </button>
  </a>
 
</div>
      
  </div>
 
</div>
<div id="winFormPerfil"></div>






