{% block ScriptHead %}
  <script src="{{ asset('js/pages/Postulante/perfil.js') }}"></script> 
{% endblock %}
<ol class="breadcrumb" style="font-size:12px;margin-bottom:2px;">
  <li><a href="#" onclick="new DefaultOptions().Home();">Inicio</a></li>
  
  <li class="active">Mis Datos Personales</li>
</ol>
<div class="row">
    <div class="col-lg-4">

          <h3 style="margin-top:4px;">Ficha de postulante</h3>
      <div class="well  well-sm" style="font-size:12px;">
      	<h4>
      			<span class="glyphicon glyphicon-user"></span>
      		{{ entity.razonSocial|default('Nombre o Razon Social')  }}
      	<span style="float:right;">
          <a id="btnEdit" href="javascript:void(0)" class="btn btn-info" data-id="{{ entity.id }}" style="font-size:12px;" >
            <span class="glyphicon glyphicon-edit"></span>
          </a>
        </span>
      	
         </h4>
         
          <div class="row">
          	<div class="col-md-5"><label>RUC:</label></div>
          	<div class="col-md-7">{{ entity.ruc|default('Ruc de la Empresa') }}</div>
          </div>
          <div class="row">
          	<div class="col-md-5"><label>Dirección:</label></div>
          	<div class="col-md-7">{{ entity.direccion|default('-') }}</div>
          </div>
          <div class="row">
          	<div class="col-md-5"><label>Telefono:</label></div>
          	<div class="col-md-7">{{ entity.telefono|default('-') }}</div>
          </div>
          <div class="row">
          	<div class="col-md-5"><label>Fax:</label></div>
          	<div class="col-md-7">{{ entity.fax|default('-') }}</div>
          </div>
          <div class="row">
          	<div class="col-md-5"><label>Web:</label></div>
          	<div class="col-md-7"><a href="http://{{ entity.web|default('#') }}" target="_blank">{{ entity.web|default('-') }}</a></div>
          </div>
      </div>
      <h3 >Categorias del Postulante
       <button id="btnCategoriaNew" class="btn btn-info btn-xs pull-right"  data-id="{{ entity.id }}" data-type="delete">
                            <span class="glyphicon glyphicon-plus"> </span>
      </button>
      </h3> 
     
     
      <div class="well  well-sm" style="font-size:12px;">
          <div>
          
          </div>
               <div id="list-categorias" class="list-group">
         
            {% for categoria in entity.categorias %}
                <a href="#" class="list-group-item" data-id="{{categoria.id}}" data-type="categoria-delete">             
                    <p class="list-group-item-text" data-id="{{ categoria.id }}">
                         <button class="btn btn-danger btn-xs pull-right"  data-id="{{ entity.id }}" data-type="delete">
                            <span class="glyphicon glyphicon-trash"> </span>
                        </button>
                                          
                        
                        <b> {{categoria.nombre}}</b> <br/>
                       
                    </p>
                </a>
            {% endfor %}
            
        </div>
      </div>  
  </div>
  <div class="col-lg-8"  >
  	<h3 style="margin-top:4px;">Datos de Contacto
  		<span style="float:right;"><a id="btnContactoNew" href="#" class="btn btn-info" style="font-size:12px;"><span class="glyphicon glyphicon-plus"></span></a></span>
  	</h3>
<div id="containerContactos">
</div>
  	
      
  </div>
 
</div>
<div id="winForm"></div>
<input type="hidden" id="hdnEntity_id" value="{{entity.id}}"/>




